In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [3]:
df_1=pd.read_csv(r'C:\Users\dell\Documents/GPS/traceset_2_code/original_all.csv',encoding = 'unicode_escape')
df_1.head()

C:\Users\dell\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,scan_end,scan_start,lat,long,alt,wifi_accuracy,bssid,mac_address,wifi_channel,signal_strength,capabilities,Unnamed: 11,Unnamed: 12
0,01/07/2015-08:11:33,01/07/2015-08:11:26,59.303672,18.097729,0.0,40.5,PrimaLSS,68:7f:74:2b:91:14,2437.0,-87.0,[WPA-PSK-TKIP][ESS],NaN,NaN
1,01/07/2015-08:11:33,01/07/2015-08:11:26,59.303672,18.097729,0.0,40.5,wsg24,60:a4:4c:c5:ba:73,5180.0,-92.0,[WPA-PSK-CCMP+TKIP][WPA2-PSK-CCMP+TKIP][ESS],NaN,NaN
2,01/07/2015-08:11:33,01/07/2015-08:11:26,59.303672,18.097729,0.0,40.5,FamilyTruckster,20:c9:d0:af:6f:6e,2437.0,-89.0,[WPA2-PSK-CCMP][ESS],NaN,NaN
3,01/07/2015-08:11:33,01/07/2015-08:11:26,59.303672,18.097729,0.0,40.5,PurpleRat,20:aa:4b:2a:ff:4d,2462.0,-89.0,[WPA-PSK-CCMP+TKIP][WPA2-PSK-CCMP+TKIP][WPS][ESS],NaN,NaN
4,01/07/2015-08:11:33,01/07/2015-08:11:26,59.303672,18.097729,0.0,40.5,Boca Grande,44:94:fc:52:43:a3,2412.0,-81.0,[WPA2-PSK-CCMP][WPS][ESS],NaN,NaN

In [4]:
from sklearn import datasets, linear_model

In [5]:
df_1_train=df_1[['lat','long','alt','signal_strength','bssid']]

In [6]:
df_1_train=df_1_train.loc[df_1_train['bssid']=='eduroam']

In [7]:
df_1_train.round({"lat":6, "long":6})

             lat       long   alt  signal_strength    bssid
1271   59.345955  18.071665  50.0            -90.0  eduroam
1288   59.345970  18.071655  50.0            -90.0  eduroam
1299   59.345970  18.071655  50.0            -92.0  eduroam
1306   59.346036  18.071759  54.0            -86.0  eduroam
1327   59.346193  18.071756  45.0            -86.0  eduroam
...          ...        ...   ...              ...      ...
66434  59.349768  18.066819  78.0            -67.0  eduroam
66442  59.349768  18.066819  78.0            -71.0  eduroam
66445  59.349768  18.066819  78.0            -87.0  eduroam
66450  59.349768  18.066819  78.0            -79.0  eduroam
66452  59.349768  18.066819  78.0            -88.0  eduroam

[12563 rows x 5 columns]

In [8]:
df_1_train['duplicated']=df_1_train.duplicated(['lat','long'])
df_1_train2=df_1_train.loc[df_1_train['duplicated']==False]

# df_1_train['duplicate']=np.where(df_1_train['lat']==df_1_train['long'],1,2)
# print(df_1_train.loc[df_1_train['duplicate']==1])

In [9]:
df_1_train

             lat       long   alt  signal_strength    bssid  duplicated
1271   59.345955  18.071665  50.0            -90.0  eduroam       False
1288   59.345970  18.071655  50.0            -90.0  eduroam       False
1299   59.345970  18.071655  50.0            -92.0  eduroam        True
1306   59.346036  18.071759  54.0            -86.0  eduroam       False
1327   59.346193  18.071756  45.0            -86.0  eduroam       False
...          ...        ...   ...              ...      ...         ...
66434  59.349768  18.066819  78.0            -67.0  eduroam        True
66442  59.349768  18.066819  78.0            -71.0  eduroam       False
66445  59.349768  18.066819  78.0            -87.0  eduroam        True
66450  59.349768  18.066819  78.0            -79.0  eduroam        True
66452  59.349768  18.066819  78.0            -88.0  eduroam        True

[12563 rows x 6 columns]

In [10]:
df_1_train2

             lat       long   alt  signal_strength    bssid  duplicated
1271   59.345955  18.071665  50.0            -90.0  eduroam       False
1288   59.345970  18.071655  50.0            -90.0  eduroam       False
1306   59.346036  18.071759  54.0            -86.0  eduroam       False
1327   59.346193  18.071756  45.0            -86.0  eduroam       False
1378   59.346380  18.071834  45.0            -90.0  eduroam       False
...          ...        ...   ...              ...      ...         ...
66362  59.349767  18.066820  78.0            -71.0  eduroam       False
66387  59.349768  18.066820  78.0            -69.0  eduroam       False
66409  59.349768  18.066820  78.0            -72.0  eduroam       False
66428  59.349768  18.066819  78.0            -71.0  eduroam       False
66442  59.349768  18.066819  78.0            -71.0  eduroam       False

[1312 rows x 6 columns]

In [11]:
# lats_uni2=df_1_train2.lat.unique()
lats_uni=df_1_train2['lat']
len(lats_uni)

1312

In [12]:
list1=[]

for lat in lats_uni:
    df_mean=df_1_train.loc[df_1_train['lat']==lat]
    list1.append(df_mean.loc[:,'signal_strength'].mean())

In [13]:
len(list1)

1312

In [14]:
df_1_train2=df_1_train2.drop(['signal_strength'],axis=1)
#df1=df_1_train2.drop_duplicates(["lat"]).reset_index(drop=True)

In [15]:
df_1_train2['signal_strength']=list1

In [16]:
df_1_train2.round({"lat":6, "long":6,"signal_strength":2})

             lat       long   alt    bssid  duplicated  signal_strength
1271   59.345955  18.071665  50.0  eduroam       False           -90.00
1288   59.345970  18.071655  50.0  eduroam       False           -91.00
1306   59.346036  18.071759  54.0  eduroam       False           -86.00
1327   59.346193  18.071756  45.0  eduroam       False           -89.75
1378   59.346380  18.071834  45.0  eduroam       False           -90.20
...          ...        ...   ...      ...         ...              ...
66362  59.349767  18.066820  78.0  eduroam       False           -82.57
66387  59.349768  18.066820  78.0  eduroam       False           -82.08
66409  59.349768  18.066820  78.0  eduroam       False           -82.08
66428  59.349768  18.066819  78.0  eduroam       False           -78.29
66442  59.349768  18.066819  78.0  eduroam       False           -78.29

[1312 rows x 6 columns]

In [17]:

train, test = train_test_split(df_1_train2, test_size=0.1)
df_1_train2.to_csv('RSS.csv')

In [61]:
df_X_train = train[['lat','long','alt']]
df_X_test =test[['lat','long','alt']]
df_Y_train = train[['signal_strength']]
df_Y_test = test[['signal_strength']]

In [62]:
# print(df_X_train)
# print(df_Y_train)
# print(df_Y_test)
# print(df_X_test)

In [63]:
regr = linear_model.LinearRegression()

In [64]:
regr.fit(df_X_train,df_Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [65]:
RSS_y_pred = regr.predict(df_X_test)

In [66]:
print("Mean squared error: %.2f"
      % mean_squared_error(df_Y_test, RSS_y_pred))
print('Variance score: %.2f' % r2_score(df_Y_test, RSS_y_pred))

Mean squared error: 30.74
Variance score: 0.22

In [67]:
 print('Coefficients: \n', regr.coef_)

Coefficients:
 [[ 6.08096686e+01 -1.99597183e+02 -6.13349229e-02]]

In [68]:
df_x=df_1_train2
df_1_train2

             lat       long   alt    bssid  duplicated  signal_strength
1271   59.345955  18.071665  50.0  eduroam       False       -90.000000
1288   59.345970  18.071655  50.0  eduroam       False       -91.000000
1306   59.346036  18.071759  54.0  eduroam       False       -86.000000
1327   59.346193  18.071756  45.0  eduroam       False       -89.750000
1378   59.346380  18.071834  45.0  eduroam       False       -90.200000
...          ...        ...   ...      ...         ...              ...
66362  59.349767  18.066820  78.0  eduroam       False       -82.571429
66387  59.349768  18.066820  78.0  eduroam       False       -82.076923
66409  59.349768  18.066820  78.0  eduroam       False       -82.076923
66428  59.349768  18.066819  78.0  eduroam       False       -78.285714
66442  59.349768  18.066819  78.0  eduroam       False       -78.285714

[1312 rows x 6 columns]

In [71]:
import statsmodels.api as sm
df_x=df_1_train2[['lat','long','alt']]
df_y=df_1_train2[['signal_strength']]
df_x2 = sm.add_constant(df_x2)

mod = sm.OLS(df_y,df_x)
fii = mod.fit()

In [73]:
df_x2

       const        lat       long   alt
1271     1.0  59.345955  18.071665  50.0
1288     1.0  59.345970  18.071655  50.0
1306     1.0  59.346036  18.071759  54.0
1327     1.0  59.346193  18.071756  45.0
1378     1.0  59.346380  18.071834  45.0
...      ...        ...        ...   ...
66362    1.0  59.349767  18.066820  78.0
66387    1.0  59.349768  18.066820  78.0
66409    1.0  59.349768  18.066820  78.0
66428    1.0  59.349768  18.066819  78.0
66442    1.0  59.349768  18.066819  78.0

[1312 rows x 4 columns]

In [72]:
print(fii.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:        signal_strength   R-squared (uncentered):                   0.995
Model:                            OLS   Adj. R-squared (uncentered):              0.995
Method:                 Least Squares   F-statistic:                          9.017e+04
Date:                Sat, 16 Nov 2019   Prob (F-statistic):                        0.00
Time:                        20:46:37   Log-Likelihood:                         -4153.8
No. Observations:                1312   AIC:                                      8314.
Df Residuals:                    1309   BIC:                                      8329.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
lat           61.7911     12.995      4.755      0.000      36.298      87.284
long        -207.3960     42.683     -4.859      0.000    -291.130    -123.662
alt           -0.0637      0.005    -12.664      0.000      -0.074      -0.054
==============================================================================
Omnibus:                      716.462   Durbin-Watson:                   0.713
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            59352.243
Skew:                          -1.647   Prob(JB):                         0.00
Kurtosis:                      35.785   Cond. No.                     2.06e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.06e+04. This might indicate that there are
strong multicollinearity or other numerical problems.